In [ ]:
import json
import os
import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine
from urllib.parse import quote_plus

In [ ]:
with open("../config/ingestion.json", "r") as open_json:
    ingestions = json.load(open_json)

In [ ]:
# Leitura do arquivo
dfs = {}

for item in ingestions:
    table = item["table"]
    path = item["path"]

    try:
        df = pd.read_csv(path, encoding="utf-8", sep=";")
        dfs[table] = df
        print(f"Tabela {table} lida.")
    except Exception as e:
        print(f"Erro ao ler a tabela {table}.")

In [41]:
df = dfs["vendas"]

In [42]:
# Tratamento de data

df["data_venda"] = pd.to_datetime(df["data_venda"])

C:\Users\i4nge\AppData\Local\Temp\ipykernel_24656\4150470770.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["data_venda"] = pd.to_datetime(df["data_venda"])

In [43]:
df.head()

,id_venda,id_cliente,data_venda,canal_venda,status_venda,total_venda
0,a8cdf44d-7b74-4440-97db-4c2f1e158e2f,cb35097a-e5dd-48f1-88a7-38ab0df83e12,2025-01-26,app móvel,concluída,685.00
1,e869707c-bdcb-4ffc-8dfb-a4e996cbdafb,b8db0672-f42d-47cc-80d4-af5974273ca3,2025-04-22,app móvel,concluída,329.97
2,41ff81d1-689d-4205-8b31-f4d8e073c1d0,177d6e7e-07d9-44ce-b8c8-8faea2178f84,2025-02-06,site,concluída,179.98
3,6d130705-279f-41ab-9b49-09b65cbdb682,b12b6680-7f07-4cb9-afd3-40c0f945f2fd,2025-05-07,app móvel,concluída,2399.95
4,ae3c2ce6-fde6-449b-868b-22af9ca4364d,56666f9f-53ac-4ab9-b467-2cd9362f5e5c,2025-03-19,marketplace,cancelada,90.00

In [ ]:
# Senha do MySQL
load_dotenv()
password = quote_plus(os.getenv("DB_PASSWORD"))

In [ ]:
# Criando a engine
engine = create_engine(f"mysql+pymysql://root:{password}@localhost/cosmolume")

In [44]:
# Carregar dados no banco
df.to_sql("vendas", con=engine, if_exists="append", index=False)

3169